<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saykangstudio.screentouchblocker">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sct_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sct_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PermissionGrantActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".QuickTileGuideActivity"
            android:exported="false">
        </activity>

        <service android:name=".ScreenTouchService"/>

        <service
            android:name=".ScreenTouchBlockerTileService"
            android:label="ScreenTouchBlocker"
            android:icon="@mipmap/sct_quick"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


    </application>
</manifest>
